:root {
  --temaColor: white;
  --primarioColor: #124f88;
  --negro: rgb(44, 43, 43);
}

main {
  display: grid;
  background-color: var(--temaColor);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  color: lightyellow;
  font-size: 20px;
  padding: 10px;
}

main > * {
  background-color: var(--primarioColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-column: 1 / 4;
}

footer {
  grid-column: span 3;
}

@media all and (max-width: 1024px) {
  main {
    display: grid;
    background-color: var(--negro);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    color: lightyellow;
    font-size: 20px;
    padding: 10px;
  }
  .izquierda {
    grid-column: 1 / 4;
  }

  article {
    grid-column: 1 / 4;
  }

  .derecha {
    grid-column: 1/4;
  }
}
